body {
    width: 100%;
    height: 100%;
}
body {
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
}
header {
    min-height: 260px;
}
header .carousel-inner > .item > img {                                       /*header starts*/
    width: 100%;
    height: 260px;
}
header .carousel-control.left, .carousel-control.right {
    background: none !important; 
    filter: none !important;
    outline: 0;
}
header .carousel .carousel-control {
    visibility: hidden;
}
header .carousel:hover .carousel-control {
    visibility: visible;
}
header .carousel .nav-tabs {
    height: 50px;
    background-color: #269abc;
    border-radius:6px;
}
header .carousel .carousel-inner .carousel-caption .btn-primary {
    border-radius: 15px;
}
header .carousel-caption {
    position: absolute;
    top: 30%;
    bottom: auto;
    left: 10%;
    right:15%;
    z-index: 20;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
    text-shadow: 0 1px 2px rgba(0,0,0,.6)
}                                                                   /*End of header*/
                                                                    /*main content section starts*/

#content-nav .nav-tabs > li.active > a,                             /*content-link starts*/
#content-nav .nav-tabs > li.active > a:hover,
#content-nav .nav-tabs > li.active > a:focus {
    cursor: default;
    background-color: #337ab7;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    height: 80px;
    top: -15px;
    color: white;
}
#content-nav .nav-tabs > li > a {
    border-color: #eee #eee #ddd;
}
#content-nav .nav-tabs > li > a:hover,
#content-nav .nav-tabs > li > a:focus {
    border-color: #eee #eee #ddd;
    background-color: #337ab7;
    height: 80px;
    top: -15px;
    color: white;
}
#content-nav .nav-tabs.nav-justified > .active > a,
#content-nav .nav-tabs.nav-justified > .active > a:hover,
#content-nav .nav-tabs.nav-justified > .active > a:focus {
    cursor: default;
    background-color: #337ab7;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    height: 80px;
    top: -15px;
    color: white;  
}
                                                                 /*End of content-link*/
                                                                 /*our-service starts*/

#our-service hr {
    max-width: 50px;
    border-color: #337ab7;
    border-width: 3px;
}
#our-service .section-heading {
    font-weight: bold;
}
#our-service .panel-1 {
    height: 100px;
    width: 250px;
    text-align: center;
    border: none;
    box-shadow: none;
}
.c {
    color: #337ab7;
}

                                                                   /*End of our-service*/
                                                                   /*why choose us starts*/
#why-choose-us {
    position: relative;
    width: 100%;
    min-height: 200px;
    text-align: center;
    color: #fff;
    background-image: url(../image/1.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;    
}
#why-choose-us .img-layer {
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
    position: absolute;
    width: 100%;
    min-height: 200px;
}
#why-choose-us .section-heading {
    font-weight: bold;
    color: #fff;
}
#why-choose-us .section-paragraph {
    color: #fff;
}
.why-choose-us {
   min-height: 200px;
}
#why-choose-us-box ul > li > .box {
    border: 1px;
    border-style: solid;
    border-color: #ddd;
    border-radius: 4px;
    background-color: #fff;
    min-height: 50px;
    color: #000;
    width: 200px;
    margin: -20px 15px 10px 15px;
    position: relative;
    top: -20px;
}
#why-choose-us-box ul > li > .box-1 {
    background-color: #fff;
    min-height: 50px;
    color: #000;
    width: 200px;
    margin: 10px 15px 10px 15px;
    position: relative;
    font-weight: bolder;
    font-size: 18px;
}
                                                                     /*End of why choose us*/
                                                                     
                                                                     /*why choose us news column goes here*/
#about-news{
    min-height: 250px;
    background-color: #f3f8f3;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
}
#about-news .btn{
    border-radius: 18px;
    padding-left: 20px;
    padding-right: 20px;
}
#about-news .vertical-text {    
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    white-space: nowrap;
    display: block;
    bottom: 0;
    width: 20px;
    height: 20px;
    margin-top: 200px;
    float: left;
}
#about-news .b{
    padding-right: 10px;
    height: 250px;
    float: left;
}
                                                                     /*End of choose us news column*/
                                                                     /*our portfolios starts here*/
#our-portfolio{
    min-height: 620px; 
}
#our-portfolio .section-heading {
    font-weight: bold;
    color: #000;
}
#our-portfolio .section-paragraph {
    color: #000;
}
#our-portfolio hr {
    max-width: 50px;
    border-color: #337ab7;
    border-width: 3px;
}
#our-portfolio .container-fluid {
     padding-right: 0; 
     padding-left: 0;  
     margin-right: auto;
     margin-left: auto;
     margin-bottom: 10px;
}
#our-portfolio .fun-back {
    position: relative;
    width: 100%;
    min-height: 450px;
    text-align: center;
    color: #fff;
    background-image: url(../image/1.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;    
}
#our-portfolio .img-layer {
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
    position: absolute;
    width: 100%;
    min-height: 450px;
}
.h{
    margin-top: 380px;
    border-radius: 15px;
    padding: 0 15px;
}
#our-portfolio .carousel-inner > .item > img {
    width: 100%;
    height: 260px;
    margin-top: 80px;
}
#our-portfolio .carousel-control.left, .carousel-control.right {
    background: none !important; 
    filter: none !important;
    outline: 0;margin-top: 80px;
}
                                                                     /*End of our portfolios*/
                                                                     /*our team starts*/
#our-team{
    min-height: 400px;

}
#our-team .section-heading {
    font-weight: bold;
    color: #000;
}
#our-team .section-paragraph {
    color: #000;
}
#our-team hr {
    max-width: 50px;
    border-color: #337ab7;
    border-width: 3px;
}
#our-team .team-pic {
    height: 200px;
}
#our-team .team-pic img{
    height:100%;
    width: 100%;
}
#our-team .well{
    background-color: #fff;
    color: #000;
    border-bottom-width: 3px;
    border-bottom-color:#337ab7;
    border-left-width: 2px;
    border-left-color: #f5f5f5;
    border-right-width: 2px;
    border-right-color: #f5f5f5;
    border-top-width: 0px;
}
                                                                      /*testimonials starts*/
#testimonial .testimonial{
    position: relative;
    width: 100%;
    min-height: 250px;
    text-align: center;
    color: #fff;
    background-image: url(../image/1.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;    
}
#testimonial .img-layer {
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
    position: absolute;
    width: 100%;
    min-height: 250px;
}
                                                                      /*End of testimonials*/
                                                                      /*appoinment starts*/
#appoinment{
    background-color: #337ab7;
    min-height: 250px;
}
                                                                      /*End of appoinment*/
                                                                     /*End of our team*/
                                                                     /*our blog section starts*/
#our-blog{
    min-height: 400px;
}
#our-blog .section-heading {
    font-weight: bold;
    color: #000;
}
#our-blog .section-paragraph {
    color: #000;
}
#our-blog hr {
    max-width: 50px;
    border-color: #337ab7;
    border-width: 3px;
}
#our-blog .blog-pic{
    height: 200px;
    background-size: cover;
    border: 1px solid red;
    margin: 0px;padding: 0px;
}
#our-blog .blog-pic img {
    height:100%;
    width: 100%;
}
#our-blog .blog-content{
    height: 40px;
    border: 1px solid red;
    padding: 0px;
    text-align: left;
    margin-bottom: 10px;
}
                                                                     /*End of our blog*/ 

                                                                    /*End of main content section*/
                                                                    /*map section starts*/
#map {
    height: 100px;
    background-color: red;
    color: white;
    text-align: center;
    font-size: 44px
}                                                                    
                                                                    /*End of map section*/
                                                                    /*address section starts*/
#address {
    height: 100px;
    background-color: black;
    color: RED;
    text-align: center;
    font-size: 44px
}                                                                    
                                                                    /*address section starts*/